@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delete-btn-container {
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.title {
  font-weight: bold;
}

.title button {
  display: none;
}
